/* Defaults */

html {
  box-sizing:border-box;
}

*,
:after,
:before {
  box-sizing:inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* background */

.Background {
  background: linear-gradient(90deg, #7fa5d7 0%, #6ac9cf 100%);
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Wrap */

.Wrapper {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
  z-index: 2;
}

@media (min-width: 62.5rem) {
  .Wrapper {
    flex-direction: row;
  }
}

.Welcome,
.Form {
  color: #333;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

/* Welcome */

.Welcome {
  background: rgba(173, 216, 230, 0.9);
  padding: 1rem;
}

@media (min-width: 62.5rem) {
  .Welcome {
    flex: 1;
  }
}

.Welcome-logo {
  max-width: 30%;
  margin-bottom: 0.5rem;
}

@media (min-width: 62.5rem) {
  .Welcome-logo {
    max-width: 90%;
    margin-bottom: 2rem;
  }
}

.Welcome-title {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

@media (min-width: 62.5rem) {
  .Welcome-title {
    font-size: 4rem;
    margin: 0.5rem 0;
  }
}

.Welcome-text {
  margin: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

@media (min-width: 62.5rem) {
  .Welcome-text {
    font-size: 1.6rem;
  }
}

/* Form */

.Form {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  flex: 1;
  justify-content: flex-start;
}

@media (min-width: 62.5rem) {
  .Form {
    justify-content: center;
  }
}

.Form-label {
  display: block;
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #999;
}

@media (min-width: 62.5rem) {
  .Form-label {
    font-size: 1.2rem;
  }
}

.Form-input {
  font-size: 1.8rem;
  border: 0;
  border-bottom: 2px solid #6ac9cf;
  outline: none;
  margin-bottom: 2rem;
  padding: 0.5rem;
  text-align: center;
  width: 50%;
}

@media (min-width: 62.5rem) {
  .Form-input {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

.Form-input:focus {
  border-bottom-color: rgba(255, 204, 0, 1);
}

.Form-submit {
  background: rgba(255, 204, 0, 1);
  -webkit-appearance: none;
  border: none;
  display: block;
  margin-bottom: 2rem;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.5s;
}

@media (min-width: 62.5rem) {
  .Form-submit {
    font-size: 1.2rem;
    padding: 1.5rem 6rem;
  }
}

.Form-submit:disabled {
  background: rgba(255, 204, 0, 0.3);
  pointer-events: none;
}

.Form-submit:focus,
.Form-submit:active {
  outline: none;
}

.Form-cancel {
  background: rgba(255, 255, 255, 0.8);
  -webkit-appearance: none;
  border: none;
  padding: 1rem 3rem;
  font-size: 0.8rem;
}

.Form-complete {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.Form.is-complete .Form-complete {
  opacity: 1;
  top: 0;
  visibility: visible;
}

.Form-completeTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.Form-completeText {
  font-size: 1rem;
}